@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_opsz\,wght.ttf");
}


body {
    background-color:#111827;
}
.container-fluid {
    height: 50cm;
    font-family: "Inter";
}

.btn {
    display: block;
    margin: auto;
   background-color: grey;
   margin-top: 60px;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   border-radius: 12px;  
}

.h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: grey;
    margin-top: 10px;
}

.img1 {
    display: block;
    margin: auto;
}

.p1 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #D3D3D3;
    font-family: "Inter";
    margin-left: 30px;
}

.h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin-right: 35px;
    color: white;
}

.p2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-right:25px;
}

.content {
}


